{% set pageTitle="Stean.com" %}
{% extends "layout.html" %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
<style>
        body{
            text-align: left;
            font-family: monaco, monospace;
            background: url(/resources/main_bkg.jpg) 50%;
            background-size: cover;
        }
        h1{
            padding-top: 30px;
            font-size: 30px;
            color: aliceblue;
        }
        h2{
            font-size: 40px;
            color: aliceblue;
            text-align: center;
        }
        td{
            font-size: 15px;
            color: aliceblue;
        }
        button[class="buyBtn"]{
            cursor: pointer;
            position: absolute;
            background-color: aliceblue;
            height: 40px;
            width: 80px;
            font-family: monaco, monospace;
            text-align: center;
            font-size: 20;
            border-color: #191970;
            border-radius: 10px;
            color: rgb(27, 128, 7);
        }
        button[class="buyBtn"]:hover{
            color: aliceblue;
            background-color: rgb(27, 128, 7);
        }
        button[class="buyBtn"]:hover span{
            display:none;
        }
        button[class="buyBtn"]:hover::before{
            content: '$';
        }
        button[class="backBtn"]{
        cursor: pointer;
        position: relative;
        background-color: aliceblue;
        height: 50px;
        width: 120px;
        font-family: monaco, monospace;
        text-align: center;
        font-size: 20;
        border-color: #191970;
        border-radius: 10px;
        color: rgb(27, 128, 7);
        bottom: 2850px;
        left: 10px;
        }
        button[class="backBtn"]:hover{
            color: aliceblue;
            background-color: rgb(27, 128, 7);
        }
        button[class="backBtn"]:hover span{
            display:none;
        }
        button[class="backBtn"]:hover::before{
            content: 'go back';
        }
        td[class="error"]{
            color: red;
            vertical-align: center;
            padding: 15px;
            white-space: nowrap;
        }
        td[class="purchased"]{
            color: green;
            vertical-align: center;
            padding: 15px;
            white-space: nowrap;
        }
        table{
            table-layout: auto;
        }
        tr{
            table-layout: fixed;
            width:100%;
        }
        table tbody{
            overflow-y: auto;
        }
    </style>

    <h2>Stean Store</h2>
{% for game in store %}
    <h1>{{game.GameName}}</h1>
    <table style="width: 60%">
        <tr>
            <td>
                <img src="{{game.imgPath}}" width="50" height="75"/>
            </td>
        </tr>
        <tr>
            <td>
                Publisher: {{game.GamePublisher}}
            </td>
        </tr>
        <tr>
            <td>
                Price: {{game.GamePrice}}
            </td>
        </tr>
        {% if game.ID == gameOwnedIndex %}
            <tr>
                <td class="error">{{message}}</td>
            </tr>
        {% endif %}
        {% if game.ID == gamePurchasedIndex %}
            <tr>
                <td class="purchased">{{message}}</td>
            </tr>
        {% endif %}
        
    </table>
    <iframe width="420" height="315"
        src="https://www.youtube.com/embed/{{game.YTToken}}">
    </iframe>
    <tr>
        <td>
            <form action="/buygame/{{index}}/{{game.ID}}" method="POST">
                <button type="submit" class="buyBtn"><span>Buy</span></button>
            </form>
        </td>
    </tr>
{% endfor %}
<form action="/login/{{back_menu_link}}" method="post">
    <button type="submit" class="backBtn"><span>Back to menu</span></button>
</form>
{% endblock %}