{% set pageTitle="Home" %}
{% extends "layout.html" %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <u1>
        <li>Login: 
            <form action="/login/" method="get">
                <input type="email" name = "email" placeholder="name@email.com"><br/>
                <input type="password" name = "pass"><br/>
                <button type="submit">Login</button>
            </form>
        </li>
    </u1>

    <a href="/page/about-us">About us</a>
{% endblock %}

